@media only screen and (min-width: 768px) {
  #registerText {
    text-align: center;
    padding-top: 20px;
    width: 40px;
    font-size: 18px;
    padding-bottom: 18px;
    margin: 0 auto 20px auto;
    border-bottom: 2px solid #14579b;
  }
  .ant-input {
    width: 385px;
  }
  .ant-input-password {
    width: 385px;
  }
  #registerBtn {
    display: block;
    margin: 0 auto;
    width: 380px;
    height: 56px;
    line-height: 23px;
    border-radius: 28px;
    background-color: rgba(20, 87, 155, 100);
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: none;
  }
  #registerBtn:focus {
    outline: none;
  }
  #login_Text {
    font-size: 12px;
    margin: 18px auto 0 auto;
    width: 108px;
  }
  #nl_lg {
    color: #14579b;
    text-decoration: none;
  }
}
@media only screen and (max-width: 768px) {
  #registerText {
    text-align: center;
    padding-top: 35%;
    width: 40px;
    font-size: 18px;
    padding-bottom: 18px;
    margin: 0 auto 20px auto;
    border-bottom: 2px solid #14579b;
  }

  #registerBtn {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 5%;
    line-height: 23px;
    border-radius: 28px;
    background-color: rgba(20, 87, 155, 100);
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: none;
  }
  #registerBtn:focus {
    outline: none;
  }
  #login_Text {
    font-size: 12px;
    margin: 18px auto 0 auto;
    width: 108px;
  }
  #nl_lg {
    color: #114477;
    text-decoration: none;
  }
}
