.doc-pub-page {
  width: 100%;
}

.doc-pub-container {
  width: 1080px;
}

.doc-pub-table {
  border: 1px solid #BBBBBB;
  margin-top: 60px;
  width: 1080px;
}

.doc-pub-table-row1 {
  width: 1080px;
  height: 53px;
  border: 0.5px solid #BBBBBB;
  z-index: 6;
}

.doc-pub-table-title {
  font-size: 14px;
  font-weight: 700;
  margin: 0 60px 0 60px;
}


.doc-pub-color-radio {
  overflow: hidden;
  margin: 0 0 0 20px;
}

.doc-pub-color-box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
}

.doc-pub-color-black {
  background: black;
}

.doc-pub-color-red {
  background: red;
}

.doc-pub-table-row2 {
  width: 1080px;
  height: 421px;
  border: 0.5px solid #BBBBBB;
}

.doc-pub-table-edit {
  width: 979px;
  height: 421px;
  border-left: 1px solid #BBBBBB;
  z-index: 0;
}

.doc-pub-button-container {
  width: 1080px;
  margin-top: 20px;
  z-index: 6;
}