@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.sp {
  display: flex;
  justify-content: center;
}

.cz {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}